@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}

.svg-class {
	max-width: 100%;
	height: auto;
	resize: both;
	path,
	line {
		fill: currentColor;
	}
}
